<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>N&Fresh Flowers | Admin</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- DataTables -->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- SB Admin CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<!-- ================= NAVBAR ================= -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">
        🌸 N&Fresh Flowers – Admin
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <!-- ================= SIDEBAR ================= -->
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <!-- DASHBOARD -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>

            <!-- CATEGORY -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/quanlyloaihoa">
                    <i class="fa fa-fw fa-list"></i>
                    <span class="nav-link-text">Quản lý loại hoa</span>
                </a>
            </li>

            <!-- PRODUCT -->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/admin/product">-->
<!--                    <i class="fa fa-fw fa-leaf"></i>-->
<!--                    <span class="nav-link-text">Quản lý hoa tươi</span>-->
<!--                </a>-->
<!--            </li>-->

            <!-- ORDERS -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/quanlydonhang">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                    <span class="nav-link-text">Quản lý đơn hàng</span>
                </a>
            </li>

            <!-- STATISTICS -->
            <li class="nav-item">
                <a class="nav-link nav-link-collapse collapsed"
                   data-toggle="collapse" href="#collapseStats">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">Thống kê</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseStats">
                    <li>
                        <a href="/admin/category">Category</a>
                    </li>
                    <li>
                        <a href="/admin/product">Product</a>
                    </li>
                </ul>
            </li>

            <!-- USERS -->
            <li class="nav-item">
                <a class="nav-link nav-link-collapse collapsed"
                   data-toggle="collapse" href="#collapseUsers">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">Khách hàng</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseUsers">
                    <li>
                        <a href="/admin/KhachHang">Danh sách khách hàng</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- TOGGLER -->
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>

        <!-- ================= TOP RIGHT ================= -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link text-white">
                    Xin chào, {{user.email}}
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                    <i class="fa fa-fw fa-sign-out"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- ================= CONTENT ================= -->
<div class="content-wrapper">
    {{{body}}}

    <footer class="sticky-footer">
        <div class="container text-center">
            <small>© 2025 N&Fresh Flowers Admin</small>
        </div>
    </footer>
</div>

<!-- ================= LOGOUT MODAL ================= -->
<div class="modal fade" id="logoutModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng xuất</h5>
                <button class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn đăng xuất?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- ================= JS ================= -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="/js/sb-admin.min.js"></script>

</body>
</html>
