<main class="login-page d-flex flex-column align-items-center justify-content-center">

    <div class="card shadow-sm border-0" >
        <div class="card-body p-4">
            <h3 class="text-center mb-3 fw-bold" >LOGIN</h3>
            <p class="text-center text-muted small mb-4">Welcome to N&Fresh Flowers</p>
            {{#if error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {{/if}}
            <form action="/login" method="POST">
                {{#if success_message}}
                    <div class="alert alert-danger">
                        {{success_message}}
                    </div>
                {{/if}}
                <div class="mb-3">
                    <label for="email" class="form-label">Email or phone number</label>

                    {{!-- Name phải đặt là "email" thì Node.js mới nhận được --}}
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="Enter your email or phone" >
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>

                    {{!-- Name phải đặt là "password" --}}
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Enter your password" >
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>

                <button type="submit" class="btn w-100 mb-3">
                    Login
                </button>
            </form>

            <div class="text-center">
                <a href="/forget" class="nav-item nav-link small d-block mb-2" >Forget password?</a>
                <p class="small">You don't have an account yet?
                    <a href="/sign" >Sign up</a>
                </p>
            </div>
        </div>
    </div>
</main>