<!-- Footer -->
<footer class="text-center text-white py-4 mt-5">
    <p class="mb-2">&copy; 2025 N&Wool Flowers. All rights reserved.</p>
    <div>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</footer>