<!-- Footer -->
<footer class="text-center text-white py-4 mt-5">
    <div class="footer-top container mt-5 pb-5 text-white">
        <div class="row">

            <!-- Cột 1 -->
            <div class="col-lg-4 col-md-6 mb-4" style=" font-family: 'Playfair Display', serif;">
                <h4 class="footer-title" style=" font-family: 'Playfair Display', serif;">THÔNG TIN LIÊN HỆ</h4>

                <p class="fw-bold mt-3">Shop Hoa Tươi Fresh Flowers</p>
                <p class="fst-italic">Chẳng phải đợi lâu, bạn chỉ cần đặt hàng và hoa sẽ được giao tận nơi trong chưa đầy 1h.</p>

                <ul class="list-unstyled contact-info mb-4">
                    <li class="mb-2"><i class="bi bi-geo-alt-fill me-2 text-danger"></i><strong>Address</strong> 499/9 Quang Trung, P10, Quận Gò Vấp, TP.HCM</li>
                    <li class="mb-2"><i class="bi bi-telephone-fill me-2 text-danger"></i><strong>Hotline:</strong> 03 5932 9912</li>
                    <li class="mb-2"><i class="bi bi-envelope-fill me-2 text-danger"></i><strong>Email:</strong> woolflowers@gmail.com</li>
                    <li><i class="bi bi-clock-fill me-2 text-danger"></i><strong>Opening Hours</strong> 08:00 - 21:00 (Daily)</li>
                </ul>

            </div>

            <!-- Cột 2 -->
            <div class="col-lg-4 col-md-6 mb-4" style=" font-family: 'Playfair Display', serif;">
                <h4 class="footer-title">HỖ TRỢ KHÁCH HÀNG</h4>
                <ul class="footer-list mt-3">
                    <li>Chính Sách Trả Hàng</li>
                    <li>Chính Sách Bảo Hành</li>
                    <li>Chính Sách Mua Hàng</li>
                    <li>Chính Sách Người Dùng</li>
                </ul>
            </div>

            <!-- Cột 3 -->
            <div class="col-lg-4 col-md-12" style=" font-family: 'Playfair Display', serif;">
                <h4 class="footer-title">TÌM KIẾM NHIỀU NHẤT</h4>

                <div class="tag-box mt-3">
                    <span >Shop Tươi Fresh Flowers</span> <br>
                    <span>N&Fresh Flowers</span>
                </div>
            </div>

        </div>
    </div>

    <p class="mb-2 fw-bold " >&copy; 2025 N&Fresh Flowers. All rights reserved.</p>
    <div>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</footer>