
<!-- Banner -->
<div id="flowerCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Ảnh 1 -->
        <div class="carousel-item active">
            <img src="/img/banner7.png" class="d-block w-100" alt="Banner 1" height="400px">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center"
                 style="top: 0; bottom: 0;">
                <h1 style="font-family: 'Playfair Display', serif; color:#221f1b;">
                    Send <span style="color:#e9a1a1;">flowers</span> like you mean it.
                </h1 >
                <p style="color: #221f1b">Where flowers are our inspiration to create lasting memories.<br>
                Whatever the occasion, our flowers will make it special cursus a sit amet mauris.<br>
                <a href="#" class="btn fw-bold px-4 py-2" style="background-color:#e9a1a1; color:white; border:none; border-radius:8px;">Mua ngay</a>
            </div>
        </div>

        <!-- Ảnh 2 -->
        <div class="carousel-item">
            <img src="/img/banner2.jpg" class="d-block w-100" alt="Banner 2" height="400px">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-start text-start"
                 style="top: 0; bottom: 0; left: 8%; right: 0;">
                <h1 style="font-family: 'Playfair Display', serif; color:#221f1b;">
                    <span style="color:#e9a1a1;">“10% Student Discount”</span>
                </h1>
                <p style="color: #221f1b">“We offer a 10% discount for all students. <br>
                    Just show your student ID at checkout!”</p>
                <a href="#" class="btn fw-bold px-4 py-2" style="background-color:#e9a1a1; color:white; border:none; border-radius:8px;">Mua ngay</a>
            </div>
        </div>

        <!-- Ảnh 3 -->
        <div class="carousel-item">
            <img src="/img/banner3.jpg" class="d-block w-100" alt="Banner 3" height="400px">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-start text-start"
            style="top: 0; bottom: 0; left: 8%; right: 0;">
                <h1 style="font-family: 'Playfair Display', serif; color:#221f1b;">
                    "Welcome to  <span style="color:#e9a1a1;">N&L Flowers</span> <br>where every petal speaks <br>from the heart.”
                </h1>
            </div>
        </div>
    </div>

    <!-- Nút điều hướng -->
    <button class="carousel-control-prev" type="button" data-bs-target="#flowerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#flowerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<!-- Danh sách sản phẩm -->
<section class="container py-5">
    <p style="color:#221f1b; text-align: center;font-size: 36px;font-family:'Playfair Display', serif ">Sản phẩm nổi bật</p>
    <div class="row g-4">
        <!-- SP 1 -->
        <div class="col-md-3">
            <div class="card border-0 shadow-sm">
                <img src="img/1.jpg"
                     class="card-img-top" alt="Hoa hướng dương">
                <div class="card-body text-center">
                    <h5 class="card-title">Hoa hướng dương</h5>
                    <p class="text-danger fw-bold">1.500.000₫</p>
                    <a href="#"
                       class="btn fw-bold px-4 py-2"
                       style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                        Thêm vào giỏ hàng
                    </a>
                </div>
            </div>
        </div>
        <!-- SP 2 -->
        <div class="col-md-3">
            <div class="card border-0 shadow-sm">
                <img src="img/10.jpg"
                     class="card-img-top" alt="Hoa cẩm tú cầu">
                <div class="card-body text-center">
                    <h5 class="card-title">Hoa cẩm tú cầu</h5>
                    <p class="text-danger fw-bold">1.200.000₫</p>
                    <a href="#"
                       class="btn fw-bold px-4 py-2"
                       style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                        Thêm vào giỏ hàng
                    </a>
                </div>
            </div>
        </div>
        <!-- SP 3 -->
        <div class="col-md-3">
            <div class="card border-0 shadow-sm">
                <img src="img/8.jpg "
                     class="card-img-top" alt="Hoa tulip trắng">
                <div class="card-body text-center">
                    <h5 class="card-title">Hoa tulip trắng</h5>
                    <p class="text-danger fw-bold">1.400.000₫</p>
                    <a href="#"
                       class="btn fw-bold px-4 py-2"
                       style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                        Thêm vào giỏ hàng
                    </a>
                </div>
            </div>
        </div>
        <!-- SP 4 -->
        <div class="col-md-3">
            <div class="card border-0 shadow-sm">
                <img src="img/2.jpg"
                     class="card-img-top" alt="Hoa hồng đỏ">
                <div class="card-body text-center">
                    <h5 class="card-title">Hoa hồng đỏ</h5>
                    <p class="text-danger fw-bold">1.300.000₫</p>
                    <a href="#"
                       class="btn fw-bold px-4 py-2"
                       style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                        Thêm vào giỏ hàng
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>