
<div id="flowerCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Ảnh 1 -->
        <div class="carousel-item active">
            <img src="/img/banner7.png" class="d-block w-100" alt="Banner 1" height="300">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center text-center"
                 style="top: 0; bottom: 0;">
                <h1 style="font-family: 'Playfair Display', serif; color:#221f1b;">
                     <span style="color:#1c1717;">About-Us</span>
                </h1 >
                <p style="color: #221f1b">Where flowers are our inspiration</p>
            </div>
        </div>

        <section class="about-section container" style="background-color: #F5F5F5">
            <div class="row align-items-center" >
                <div class="col-md-6" style="font-family: 'Playfair Display', serif; color:#221f1b;">
                    <h1 style="font-family: 'Playfair Display', serif; color:#221f1b;">
                        Welcome to <span style="color:#e9a1a1;">N&L Flowers</span> <br>
                        where flowers are our inspiration.
                    </h1 >
                    <p>We take flowers personally & we bring you happiness.<br>
                        Each petal tells a story of love, care, and joy — blooming just for you.</p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="play-btn">
                        <img src="/img/banner9.png" alt="Flowers and people">
                    </div>
                </div>
            </div>
        </section>

</div>
